body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #110C20;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    
}

.passwordcontainer{
    display: flex;
    position:relative;
    background:none;
    border: none;
}

.passwordcontainer button{
    color: white;
    position:absolute;
    background:none;
    border: none;
    padding:0;
    right: 8px;
    top:50%;
    transform: translateY(-50%);
}
.inputbox{
    border-radius: 5px;
    width: 25vw;
    height: 35px;
    
}

.inputs{
    row-gap: 20px;
    display: flex;
    flex-direction: column;   
    
    
    
}
.buttons input{
    border-radius:5px;
    width:12.5vw;
    height:35px;
    outline:none;
    border:none;
    font-family: "Poppins", sans-serif;
      
}


.container {
    display: flex;
}

.container > div {
    background-color: #2C2638;
    flex: 1;
    border: 12px solid #110C20;
    border-radius: 48px;
}

.container div div{
    border: 0px;
    background:none;
}

.container div:last-child{
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"] {
  border: 2px solid #6D54B3;
  outline:none;
  font-family: "Poppins", sans-serif;
}

input[type="text"], input[type="password"], input[type="email"]{
    background-color: #3C364C;
    outline: none;
    border: 1px solid #3C364C;
    font-family: "Poppins", sans-serif;
}

a:link{
    color:#6D54B3;
}

.buttons{
    display: flex;
    justify-content: center;
}

.inputs .otherlogins{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inputs .names{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width:25vw;
}

.otherlogins button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 5vw;
    height: 35px;

}

p, label{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    font-size: 12;
}

.loginphoto{
    display: flex;
    justify-content: center;
    align-items: center;
}

