html {
    margin: 0;
    padding: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0px;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    
}

a{
    color:rgb(83,66,66);

}

a:hover{
    color:rgb(128,70,70);
}




.loginorregister{
        display:flex ;
        flex-direction: column;
        gap: 10px;
        align-items: center;
             
}

input[type = text]{
    border-radius: 10px;
    padding:20px;

}


input[type = password]{
    border-radius: 10px;
    padding:20px;
}
input[type = email]{
    border-radius: 10px;
    padding:20px;
}


input[type = submit]{
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: max-content;
}

.loginrect{
    width: 450px;
    height:500px;
    border-radius: 20px;
    background-color: rgba(154,138,125,0.7);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    
   
}

.registerrect{
    width: 600px;
    height:600px;
    border-radius: 20px;
    background-color: rgba(154,138,125,0.7);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    
   
}

.loginvideo{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    
}

