body{
    font-family: "Poppins", sans-serif;
  }


ul {
  border-radius: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  
}

ul li {
  float: left;
  border-right: 1px solid white;
  
}
ul li:last-child{
    border-right: 0px;
}

ul li a{
    display:block;
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;

}

ul li a:hover{
    background-color: #6D54B3;
}

nav li.active{
 background-color:#3C364C;
}

.title{
  color: white;
  text-align: right;
  padding-right:30px;
  padding-bottom: 0px;
  font-size: large;
  
}

.gallery{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  
}

img{
  border-radius: 10px;
  border: 2px solid #3C364C;
  width: 250px;
  height: 250px;
  
}

section {
  display:flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center;
}

section h2{
  width:100%;
  text-align: center;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 5vw;
    height: 35px;

}

.seperate_generators{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.seperate_generators span{
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button_container{
display: flex;
flex-direction: column;
gap:4px;
justify-content: center;
align-items: center;
}