h1{
    font-family: "Nunito Sans";
}

body{
    background-color: black;
}
img{
    border-radius: 50px;
    max-width: 35%;
    height:auto;    
}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: lightblue;
}
input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=password]:focus {
  background-color: lightblue;
}
input[type=button], input[type=submit] {
  background-color: #3f4a2d;
  font-family: "Nunito Sans";
  color: white;
  padding: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.textContainer{
    text-align: left;
    font-size: large;
    position:absolute;
    top: 200px;
    left:320px;
    font-family: "Nunito Sans";

}
.imageContainer{
   position:relative;
   top:10px;
   right:50px;
   text-align: right;
   z-index: -10;
}

#boxContainer{
    position:absolute;
    top:10px;
    width: 1500px;
    height: 710px;
    background-color: #3f4a2d;
   
    
    border-radius: 50px;
    z-index: -20;
}

#boxContainer2{
    position:absolute;
    top:60px;
    left:30px;
    width: 800px;
    height: 600px;
    background-color:#f2f2f2;
    border-radius: 50px;
    z-index: -15;
}